* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-header-color: #33335B;
    --back-color: #4F4F8C;
    --text-color: #FFF;
    --btn-color: #37AF65;
}

html {
    min-height: 5000px;
}

body {
    background-color: #FFF;
}

#header {
    background-color: var(--back-header-color);
    min-width: 100%;
    min-height: 10em;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#header .container-logo {
    width: 100%;
    display: grid;
}

#header #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#header .nav-link {
    min-width: 8em;
    min-height: 2em;
    background-color: var(--text-color);
    border-radius: 7px;
    font-size: 1.1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#header .nav-link {
    text-decoration: none;
    color: #000;
    transition: 250ms;
}

/* #header #nav-bar .nav-link:nth-child(1) {
    background-color: var(--btn-color);
    color: var(--text-color);
} */

#header .nav-link:hover {
    background-color: var(--btn-color);
    color: var(--text-color);
}

.logo {
    fill: var(--text-color);
    grid-column: 1 / 2;
    transform: scale(3);
    align-self: center;
    justify-self: center;
}

.title {
    color: var(--text-color);
    font-size: 2em;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    display: none;
}

#main-content {
    margin-top: 200px;
}

@media (min-width: 400px) {
    #header .container-logo {
        grid-template-columns: 1fr 2fr;
        margin-left: 3%;
        /* justify-self: start; */
    }

    #header .title {
        display: block;
    }
}

@media (min-width: 640px) {
    #header {
        grid-template-columns: 2fr auto;
        min-height: 6em;
    }

    #header .container-logo {
        max-width: 15em;
        justify-self: center;
    }

    #header #nav-bar {
        margin: 0 .5em;
        justify-content: end;
        flex-direction: row;
    }   

    #header .nav-link {
        min-width: 6em;
    }

    #header .nav-link:nth-child(2) {
        min-width: 8em;
    }
}


@media (min-width: 850px) {
    #header .container-logo{
        justify-self: start;
        margin-left: 10%;
    }
}