@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-header-color: #1a1a30;
    --background-color: #FFF;
    --card-color1: #1a1a30;
    --card-color2: #8f4caa;
    --text-color: #FFF;
    --box-shadow: #7663b2;
    --content-color: #000;
    --btn-color: #37AF65;
    --font-family: 'Poppinsi', sans-serif;
    --second-font-family: 'Raleway', sans-serif;
}

html {
    min-height: 500em;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--second-font-family);
    font-weight: 500;
}

#header {
    background-color: var(--back-header-color);
    min-width: 100%;
    min-height: 10em;
    color: var(--text-color);
    /* box-shadow: 1px 1px 15px 20px var(--back-header-color); */
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 999;
}

#header .container-logo {
    width: 100%;
    display: grid;
}

#header #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#header .nav-link {
    min-width: 8em;
    min-height: 2em;
    background-color: var(--text-color);
    border-radius: 7px;
    font-size: 1.1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#header .nav-link {
    text-decoration: none;
    color: #000;
    transition: 250ms;
}

/* #header #nav-bar .nav-link:nth-child(1) {
    background-color: var(--btn-color);
    color: var(--text-color);
} */

#header .nav-link:hover {
    background-color: var(--btn-color);
    color: var(--text-color);
}

.logo {
    fill: var(--text-color);
    grid-column: 1 / 2;
    transform: scale(3);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    transition: 250ms;
}

.logo:hover {
    fill: var(--btn-color);
}

.title {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 500;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    display: none;
    cursor: pointer;
}

#content {
    min-width: 10em;
    margin-top: 13em;
    display: grid;
    gap: 3em;
}

#get-started {
    max-width: 95%;
    background: linear-gradient(150deg, var(--card-color1), var(--card-color2));
    padding: clamp(.7rem, 5vw, 3rem);
    border-radius: .5em;
    box-shadow: 0 0 5px 2px gray;
    text-align: center;
    font-weight: 700;
    justify-self: center;
    display: flex;
    flex-flow: column;
    gap: 3em;
    align-items: center;
}

#get-started h1 {
    font-size: clamp(1.5em, 2.5vw, 2em);
    font-weight: 700;
    font-style: italic;
}

#get-started #form {
    min-width: 50%;
    /* min-width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#get-started #form #email {
    border: none;
    border-radius: .7em;
    box-shadow: 0px 0px 20px 1px var(--text-color);
    padding: .6em .6em .6em 1em;
    font-family: var(--second-font-family);
    font-size: clamp(.8em, 2vw, 1em);
    font-weight: 700;
}

#get-started #form #submit {
    min-width: 50%;
    background-color: var(--text-color);
    border: none;
    border-radius: .5em;
    padding: 1em;
    font-family: var(--second-font-family);
    font-weight: 700;
    align-self: center;
    transition: 250ms;
}

#get-started #form #submit:hover {
    background-color: var(--btn-color);
    color: var(--text-color);
}

#products {
    max-width: 100em;
    min-width: 10em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    justify-self: center;
    gap: 1.5em;
}

#products .materials, .shipping, .assurance, .book {
    /* border: 1px solid red; */
    max-width: 95%;
    background: linear-gradient(150deg, var(--card-color1), var(--card-color2));
    border-radius: .5em;
    box-shadow: 0 0 5px 2px gray;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* #products .materials::before {
    content: '';
    width: 130%;
    position: absolute;
    top: -10px;
    border: 10px solid blue; 
    filter: blur(6px);
} */

#products .title-products, p {
    position: relative;
    z-index: 0;
}

#products .title-products {
    /* min-width: 15em; */
    /* background-color: var(--back-header-color); */
    /* box-shadow: 0 0 100px 150px var(--back-header-color); */
    font-size: clamp(.8em, .7vw, 1.5em);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#products .icon {
    align-self: center;
    transform: scale(2);
}

#products #fire {
    fill: #ff8b00;
}

#products #truck {
    fill: #6495ed;
}

#products #certification {
    fill: gold;
}

#products #book {
    fill : #933709;
}

#products p {
    /* background-color: var(--card-color); */
    font-size: clamp(1.1em, 2vw, 1.5em);
    text-align: justify;
    padding: .7em 1.5em 1.5em 1.5em;
}

#video-section {
    min-width: 70%;
    max-width: 95%;
    min-height: 10em;
    border: 1px solid black;
    border-radius: .2em;
    padding: .5em;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
    color: #000;
}

#video-section h3 {
    background: linear-gradient(150deg, var(--card-color1), var(--card-color2));
    border-radius: .5em;
    padding: .5em;
    color: var(--text-color);
    padding: .5em;
    text-align: justify;
}

#video-section .video-container {
    min-width: 95%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    align-self: center;
}

#video-section .video-container #video {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

@media (min-width: 400px) {
    #header .container-logo {
        grid-template-columns: 1fr 2fr;
        margin-left: 3%;
        /* justify-self: start; */
    }

    #header .title {
        display: block;
        font-size: 1.6em;
    }
}

@media (min-width: 570px) {
    #get-started {
        min-width: 31em;
        justify-self: center;
    }

    #get-started #form #email {
        padding: .6em .6em .6em 1.5em;
    }
}

@media (min-width: 700px) {
    #header .container-logo{
        justify-self: start;
        margin-left: 10%;
    }

    #products {
        padding: 2em;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1em 1px;
    }
}

@media (min-width: 740px) {
    #header {
        grid-template-columns: 1fr 2fr;
        min-height: 6em;
    }

    #header .container-logo {
        max-width: 15em;
        justify-self: center;
    }

    #header #nav-bar {
        margin: 0 .5em;
        justify-content: end;
        flex-direction: row;
    }   

    #header .nav-link {
        min-width: 6em;
    }

    #header .nav-link:nth-child(2) {
        min-width: 8em;
    }

    #content {
        margin-top: 9em;
    }
}

@media (min-width: 1200px) {
    #video-section {
        min-width: 53em;
    }
}

@media (min-width: 1250px) {
    #products {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}   